name: Continuous Integration
on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main

jobs:
  report:
    name: Report
    runs-on: ubuntu-latest
    steps:
      - name: ref
        run: echo ${{ github.ref }}
      - name: event_name
        run: echo ${{ github.event_name }}
  build:
    name: Build
    strategy:
      matrix:
        target: [
          {arch: amd64, os: linux},   {arch: arm64, os: linux},
          {arch: amd64, os: windows}, {arch: arm64, os: windows},
          {arch: amd64, os: darwin},  {arch: arm64, os: darwin},
        ]
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - run: |
            mkdir -p dist
            go build -o dist/partitionresizer-${{ matrix.target.os }}-${{ matrix.target.arch }} ./cmd/partitionresizer
        env:
          GOOS: ${{ matrix.target.os }}
          GOARCH: ${{ matrix.target.arch }}
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ^1.24
      - name: vet
        run: go vet ./...
      - name: lint
        uses: golangci/golangci-lint-action@v9
        with:
            version: v2.6
      - name: test
        run: go test ./...