name: Continuous Integration
on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build-reusable.yaml
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ^1.24
      - name: vet
        run: go vet ./...
      - name: lint
        uses: golangci/golangci-lint-action@v9
        with:
            version: v2.6
      - name: test
        run: go test ./...